/*** web fonts ***/
@import url(https://fonts.googleapis.com/css?family=Lato:400);
@import url(https://fonts.googleapis.com/css?family=Luckiest+Guy);

/*** basic reset ***/
body, h1, h2, ul, ol {
  margin:0;
  padding: 0;
}

body {
  font-family: "Lato", Arial, sans-serif;
  margin: 20px auto 0;
  width: 80%;
}

header h1 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 2em;
}

header {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
}

nav {
  margin-top: .7em;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 20em;
}

nav a {
  text-decoration: none;
}
